*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    text-decoration: none;
    list-style-type: none;
    font-family:'Courier New', Courier, monospace;
}
header{
    width: 100%;
    display: flex;
    background-color: #000000;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    
}
nav{
    width: 250px;
    align-self: center;
   
}
ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
ul li a{
    padding: 5px 10px;
    color: #ffffff;
}

nav ul li a:hover{
    border-bottom: 1px solid #ffffff;
}
.dropdbut{
    padding: 5px 10px;
    color: #ffffff;
    background-color: #000000;
    border: none;
    cursor: pointer;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.menuitems{
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    padding: 10px 0;
    
}
.menuitems a{
    padding-top: 5px;
}
.dropdown:hover .menuitems{
    display: block;

}
.dropdbut:hover{
    border-bottom: 1px solid #ffffff;
}
.active{
    background-color: rgba(255, 255, 255, 0.2);
}
h1{
    width: 50px;
}
h1 img{
    width: 100%;
}
article{
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
h2{
    width: 100%;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.5) ;
    padding: 15px 0;
}

.article{
    width: 400px;
    height: 600px;
    border: 1px solid #000000 ;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.img{
    width: 350px;
    height: 250px;
    overflow: hidden;
}
.img img{
    width: 100%;
}
.article p{
    margin-top: 10px;
    height: 250px;
    overflow:scroll ;
}
.article span{
    align-self: flex-end;
    margin-top: 10px;
}
.article span a{
    color: #434141;
    font-size: 12px;
}
